<header class="header">
    <div class="container">
        <div class="row">
            <div class="logo_ie_wrap">
                <a href="" class="logo_wrap">
                    <img src="../../../../assets/la-paz.svg" alt="Logo" class="web_logo img-responsive">
                </a>
            </div>
            <div role="navigation">
                <div id="head-menu" class="menu-header-menu-container swiper-container">
                    <ul id="menu-header-menu" class="menu swiper-wrapper">
                        <li class="menu-item  swiper-slide" data-scroll-to="target_1">
                            <div>Inicio</div>
                        </li>
                        <li class="menu-item  swiper-slide" data-scroll-to="target_2">
                            <div>Institucion</div>
                        </li>
                        <li class="menu-item e_n_t swiper-slide" data-scroll-to="target_3">
                            <div>Sub-Direcciones</div>
                        </li>
                        <li class="menu-item  swiper-slide" data-scroll-to="target_4">
                            <div>Tramites</div>
                        </li>
                        <li class="menu-item  swiper-slide" data-scroll-to="target_5">
                            <div>Transparencia</div>
                        </li>
                    </ul>
                </div>
                <div id="head-menu-grey" class="menu-header-gray-part-menu-container">
                    <ul id="menu-header-gray-part-menu" class="menu">
                        <li id="menu-item-206" class="contact-modal menu-item menu-item-type-custom menu-item-object-custom menu-item-206">
                            <a href="">Contactanos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wcag">
                <div class="header_aa_button text1"></div>
                <div class="header_aa_button text2"></div>
            </div>
        </div>
    </div>
</header>