.row {
    height: 84px;   
    .logo_ie_wrap {
        height: inherit;
    }
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 50px;
    max-width: 1920px
}

.container::after {
    clear: both;
    content: "";
    display: block
}

@media screen and (min-width:768px) {
    .container {
        width: 100%;
        padding: 0 50px
    }
}

@media screen and (min-width:1025px) {
    .container {
        width: 100%
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 100%
    }
}