<main>
    <section class="heroImage ">
        <div class="thumbnail hidden-sm hidden-xs" style="background-image: url('../../../assets/classroom.jpg');"></div>
        <div class="thumbnail visible-xs vixible-sm" style="background-image: url('../../../assets/classroom.jpg');"></div>
        <div class="cover"></div>
        <div class="video_content">
            <div class="container">
                <div class="row">
                    <p class="title roboto">DIRECCION DEPARTAMENTAL DE EDUCACION LA PAZ</p>
                    <a class="rep_btn" href="">
                        <div class="rep_btn_inner">NOTICIA 1</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="cards roboto">
        <div class="container">
            <div class="row">
                <div class="card_wrap" *ngFor="let article of articles">
                    <div class="card">
                        <h5 class="card_inner">{{ article.titulo }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="collapse v1" data-target="target_1">
        <div class="container">
            <div class="row">
                <div class="main cont">
                    <div class="text_wrap">
                        <h2 class="title_40 blue_brd">DIRECCION DEPARTAMENTAL DE EDUCACION LA PAZ</h2>
                        <div class="c_desc main_desc">Dirección Departamental de Educación, consolidada, fortalecida garantizando
                            la implementación de una educación productiva comunitaria y de calidad para todas y todos, con
                            pertinencia sociocultural, contribuyendo a la construcción de una sociedad justa, en equilibrio
                            y relación armónica con la naturaleza que sustenta el desarrollo plurinacional para vivir bien.</div>
                        <div class="read_more_wrap">
                            <div class="read_more">
                                <div class="read_more_inner">
                                    <div class="text">Leer mas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image" style="background-image: url(http://via.placeholder.com/630x371)"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="industry iv1" data-target="target_2">
        <div class="industry_main" style="background-image: url(http://via.placeholder.com/1440x772);">
            <div class="cont">
                <h2 class="title_40">DIRECCION DEPARTAMENTAL DE EDUCACION LA PAZ</h2>
                <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                <div class="read_more_wrap">
                    <div class="read_more white">
                        <div class="read_more_inner">
                            <div class="text">leer mas</div>
                        </div>
                    </div>
                </div>
                <div class="rep_btn_wrap btn_wrap_ind">
                    <div class="rep_btn contact contact-modal">
                        <div class="rep_btn_inner">Contactanos</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="collapse v2" data-target="target_3">
        <div class="container">
            <div class="row">
                <div class="main cont">
                    <div class="text_wrap">
                        <h2 class="title_40 blue_brd">FUNCIONES DE LA UNIDAD DE TRANSPARENCIA</h2>
                        <div class="c_desc main_desc">El Decreto Supremo No. 29894 de Organización del Órgano Ejecutivo establece
                            la creación de una Unidad de Transparencia en cada Ministerio.
                        </div>
                        <div class="read_more_wrap">
                            <div class="read_more">
                                <div class="read_more_inner">
                                    <div class="text">Leer mas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image" style="background-image: url(http://via.placeholder.com/630x660)"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="education" data-target="target_4">
        <div class="container">
            <div class="main">
                <h2 class="title_40 _50">Tramites</h2>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="column_main">
                        <div class="image" style="background-image: url(http://via.placeholder.com/630x371);"></div>
                        <h2 class="title_40 white_brd">Tramite Estudiantes.</h2>
                        <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="read_more_wrap">
                            <div class="read_more white">
                                <div class="read_more_inner">
                                    <div class="text">leer mas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="column_main">
                        <div class="image" style="background-image: url(http://via.placeholder.com/630x371);"></div>
                        <h2 class="title_40 white_brd">Tramite Unidades Educativas</h2>
                        <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                            took a galley of type and scrambled it to make a type specimen book.
                        </div>
                        <div class="read_more_wrap">
                            <div class="read_more white">
                                <div class="read_more_inner">
                                    <div class="text">leer mas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="post_type event" data-target="target_5">
        <div class="container">
            <div class="cont">
                <h2 class="title_40 _50">Noticias</h2>
                <div class="posts">
                    <div class="post">
                        <div class="image" style="background-image: url(http://via.placeholder.com/318x213);"></div>
                        <div class="text_wrap">
                            <div class="title roboto">APOYO ESCOLAR SIGUE LLEGANDO A LOS DISTRITOS EDUCATIVOS ...</div>
                            <div class="desc">“AGRADECEMOS AL DIRECTOR DEPARTAMENTAL POR LLEGAR AL ÚLTIMO RINCÓN DE CORIPATA”
                                El director Departamental de Educación La Paz ...
                            </div>
                            <div class="read_more">
                                <a href="" target="_blank">leer mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="image" style="background-image: url(http://via.placeholder.com/318x213);"></div>
                        <div class="text_wrap">
                            <div class="title roboto">AGRADECEMOS AL DIRECTOR DEPARTAMEN…</div>
                            <div class="desc">APOYO ESCOLAR SIGUE LLEGANDO A LOS DISTRITOS EDUCATIVOS MÁS ALEJADOS DEL DEPARTAMENTO
                                DE LA PAZ La Dirección </div>
                            <div class="read_more">
                                <a href="" target="_blank">leer mas</a>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="image" style="background-image: url(http://via.placeholder.com/318x213);"></div>
                        <div class="text_wrap">
                            <div class="title roboto">A PARTIR DEL DIA LUNES SE AMPLIA EL…</div>
                            <div class="desc">El director Departamental de Educación La Paz, Juan Churata Cosme ...</div>
                            <div class="read_more">
                                <a href="" target="_blank">leer mas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>